
<html>

<header>
    <h1>{{ COPY.food }}</h1>

</header>



{% include 'base.html' %}

<body>




{% for group in COPY.Food|groupby('Course') %}
    <div id="menu-section" class="row">
    	<h2 class="large-4 medium-3 columns" >{{ group.grouper }} </h2>
			<dl class="large-8 medium-9 small-12 columns " >
			    <br/>

			    {% for row in group.list %}
			        <div class="row">
			        	<div class="small-10 columns left">
			      			  <dt>{{ row.Name }}</dt> 
			      			  <dd>{{ row.Description }}</dd>
			    		</div>
			    		<div class="small-2 columns right">
			      			  <p>{{ row.Price}} </p> 	
			      		</div>
			      	</div>

			    {% endfor %}
			</dl>
	</div>
{% endfor %}

<hr>

<h1> accordion MENU </h1>
<p>http://foundation.zurb.com/docs/v/3.2.5/elements.php#accCode</p>


<dl class="accordion" data-accordion>

  {% for group in COPY.Food|groupby('Course') %}

  <dd class="accordion-navigation">
    <a href="#{{ group.grouper }}"><h4>{{ group.grouper }}</h4></a>
    <div id="{{ group.grouper }}" class="content">
        <div class="menu-items row">
          {% for row in group.list %}
                <div class="medium-2 hide-for-small-only columns left">

                  <p></p>
                </div>
                <div class="small-10 medium-8 columns left">

                    <ul class="no-bullet">
                    <li><strong>{{ row.Name }} </strong>
                      {%- if row.Extras -%}
                       <div id="extraInfo"> ({{ row.Extras }}) </div>
                      {%- endif %}
                      <p>    {{ row.Description }} </p> </li>
                  </ul>
              </div>
              <div class="small-2 columns right">
                    <p>{{ row.Price}} </p>  
                </div>
                <hr>
          {% endfor %}
        </div>
    </div>
  </dd>
  {% endfor %}
</dl>



<hr>

<h1> with tabs </h1>

<dl class="tabs">
  {% for group in COPY.Food|groupby('Course') %}
  <dd><a href="#{{ group.grouper }}">{{ group.grouper }}</a></dd>
     {% endfor %}
</dl>
<ul class="tabs-content">
  <li class="active" id="AppetizersTab">This is simple tab 1s content. Pretty neat, huh?</li>
  <li id="BrunchTab">This is simple tab 2s content. Now you see it!</li>
  <li id="EntreesTab">This is simple tab 3s content.</li>
</ul>



<script src="../static/js/vendor/jquery.js"></script>
<script src="../static/js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>


</body>



</html>